@charset "UTF-8";

/* override styles */

h2 {
  text-align: left;
}

.centre-align {
  text-align: center;
}

.avatar {
  border-radius: 100%;
  margin: 10px auto;
}

#footer small {
  color: #87919F;
}

.top-bar, .top-bar ul, .title-bar {
  background: #C9DEF0;
  width: 100%;
}

#skills ul {
  list-style-type: circle;
}

#skills .medium-6:last-of-type ul {
  list-style: none;
  margin-left: 0;
}

/* apply only for non-mobile */
@media screen and (min-width: 40em) {
  h2, .centre-align {
    text-align: center;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.3rem;
  }
  .right-align {
    text-align: right;
    direction: rtl;
  }
}

/* apply only for mobile */
@media only screen and (max-width: 40em) {
  .menu-text {
    display: none !important;
  }
}
