@charset "UTF-8";

/* override styles */

#content {
  margin-top: 20px;
}

h2, .centre-align {
  text-align: center;
}

.top-bar {
    background-color: transparent;
}

.right-align {
    text-align: right;
    direction: rtl;
}

.avatar {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: #998590 no-repeat center;
  background-size: cover;
  background-image: url('../img/avatar.png');
  margin: 10px auto;
  border: 3px solid #87919F;
}

#footer small {
  color: #87919F;
}