@charset "UTF-8";

/* override styles */

h2 {
  text-align: left;
}

.centre-align {
  text-align: center;
}

.avatar {
  border-radius: 100%;
  margin: 10px auto;
}

#footer small {
  color: #87919F;
}

.top-bar, .top-bar ul, .title-bar {
  background: #C9DEF0;
  width: 100%;
}

/* apply only for non-mobile */
@media screen and (min-width: 40em) {
  h2, .centre-align {
    text-align: center;
  }

  .right-align {
    text-align: right;
    direction: rtl;
  }

  #content {
    margin-top: 20px;
    padding: 0 0 0 100px;
  }
}

/* apply only for mobile */
@media only screen and (max-width: 40em) {
  .menu-text {
    display: none !important;
  }
}